/*dalini bilau goncalves*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
  font-family: 'quicksand';
  src: url('../fonts/quicksand-bolditalic-webfont.woff') format('woff'),
       url('../fonts/quicksand-bolditalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
p, h1{
	font-family: 'quicksand', "Times New Roman", serif;
}

.googlefont {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80%;
}
.activity {
  background: #F0DAD9;
  border: 1px solid black;
  float: left;
  margin: 10px;
  width: 31%;
  text-align: center;
}
.examples {
  width: 90%;
  margin: 0 auto;
}
.activity h3 {
  
  margin: 10px;
}
.activity h4 {
  
  background-color: #FBF6F0;
  color: black;
  padding: 15px;
}
.price ul {
  margin: 0;
  padding: 0;
}
.activity ul li {
  list-style-type: none;
  border-top: 2px solid black;
  
  margin: 10px;
  padding: 8px;
}
.activity ul li:nth-child(even) {
  background: rgba(246, 246, 250, 0.1);
  
}
.activity {
  font-weight: bold;
}
.activity a:button {
  display: block;
  width: 40%;
  margin: 10px auto;
  color: rgb(251, 250, 250);
  background: rgb(8, 8, 8);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
}
a.linkhomework  {
  color: #FBF6F0;
  text-decoration: none;
}
#index {
  text-align: center;
}
nav ul li {
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: 14px 16px;
  /*list-style: none;
  text-align: center;
  display: inline-block;
  padding: 14px 16px;*/
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: grey;
}
a:visited {
  color: grey;
}
a:active{
  color: black;
}
/*img {
  /*max-width: 55%;
  border-radius: 50%;
  position: absolute;
  left: 23%;
  top: 40%;*/
  /*margin: 0;
  padding: 0;
  background-image: url('imageportofolio.jpg');
  background-size: cover;
  background-position: bottom left ;
  background-repeat: no-repeat;
  width: 100%;
  height: 70%;
  position: fixed;
  bottom: 0;
  left: 0;
 }*/
  

body {
  background-color: #FBF6F0;
  background: linear-gradient(to left, #fdd3be, #F0D8D8 );
}
table, th, td {
  border: 1px solid;
}
table {
  width: 100%;
}
caption {
  font-size: 25px;
}
footer {
  /*background-color: #F0E0D4;
  font-size: .75em;
  padding-top: 10px;*/
  background-color: #FBF6F0;
  padding: 0.2em;
  position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  text-align: center;
}
footer img {
  width: 50px;
  height: auto;
  margin: 0px 10px;
  display: inline-block;
  vertical-align: middle;
}
.icon a img {
  width: 35px;
  height: 35px;
  
}
.dbglogo {
  float: left;
	border-radius: 50%;
	margin-right: 10%;
}