.intro {
  text-align: center;
  padding: 20px 20px;
  color: rgb(235, 103, 26);
  font-size: 30px;
}

.title {
  text-align: center;
  padding: 20px 20px;
  color: rgb(235, 103, 26);
  font-size: 30px;
}

.alert {
  background-color: lightgoldenrodyellow;
  color:rgb(235, 103, 26);
  font-weight: bold;
  padding: 5px;
}

.alert.orange {
background-color: orange;
}